.h-wrapper{
    /* background: var(--black); */
    color: white;
    margin-top: 2rem;
    
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu{
 gap: 2rem;
 
}
.h-menu>*:hover{
cursor: pointer
}

.ma{
    margin-left: 12rem;
}
 