.v-container .image-container{
    border: 7px solid rgb(232,232, 232 /90%);
}

.v-container>div{
    flex: 1;
}
v-right{
    gap: 0.3rem;   
}

.Accordion{
    
    border:none;
}
.icon{
    color: blue;
    padding: 10px;
    border-radius: 5px;
    background: #eeeeff;
}

.accordion-button{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content:space-between;
    cursor: pointer;
    
}

/* .main-item{
    background-color: aqua;
} */

.b-dion{
    margin-bottom: 1rem;
    border: 0.8px rgba(128 128 128 0.43);
    border-radius: 8px;
    overflow: hidden;
}

.AccordionItem{
    margin-top: 2rem;
    background-color: blue;
}
.accordion-button .primaryText{
    font-size: 1.5rem;
}

@media( max-width:1024px) {
    .v-container{
        flex-direction: column;

    }
    .main-item .primaryText{
        font-size: large;
    }
}